
/**
 * Global variables
 */


// Layout

$layout = 1190


// Colors

$c_bg = #151419
$c_border = alpha(#fff, 10%)

$c_link = #3c59f0
$c_text = #fff
$c_link_hover = #c4161c

$c_dim = #626262
$c_bright = #c53e1c
$c_yellow = #ffe082

$c_success = #2db361
$c_error = #ef6941


// Typography

$f_family = 'IBM Plex Sans', system-ui, sans-serif
$f_size = 16px
$f_weight = 400
$f_height = 1.6


// Media

$media = {

	unit: 1px,

	breakpoints: {

		xs: 1,
		sm: 544,
		md: 768,
		lg: 992,
		xl: 1150

	}

}
